{% extends "layout.html" %}
{% from "macros.html" import render_pagination with context %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="col-sm-12 col-md-8">
<div class="content"><!-- content -->
    {% if blog %}
    <article class="panel panel-default"><!-- blog's post listing -->
        <div class="panel-heading">
            <a href="{{ blog.url }}" target="_blank">
                <h3 class="panel-title">
                    {{ blog.name }} <small>({{ blog.url }})</small>
                </h3>
            </a>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills">
                <li role="presentation"{% if not popular %} class="active"{% endif %}>
                    <a href="{{ url_for('blog', id=blog.id, popular=None) }}">Latest Posts</a>
                </li>
                <li role="presentation"{% if popular %} class="active"{% endif %}>
                    <a href="{{ url_for('blog', id=blog.id, popular='popular') }}">Most Popular Posts</a>
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            <button class="btn btn-link btn-ts" title="Last updated on {{ updated | format_time() }}">Last Updated: {{ updated | format_time('human') }}</button>
            <button class="btn btn-link btn-ts">{{ posts.total }} posts on Kottu</button>
            <button class="btn btn-link btn-ts" title="Average post popularity is {{ buzz | chilies }} chilies ({{ buzz | round(2) }})">
                Average Spice: <img src="http://kottu.org/img/icons/chili{{ buzz | chilies }}.png" alt="{{ buzz | chilies }} chilies"/>
            </button>
        </div>
    </article>
    {% endif %}

    {% if time and time != 'off' %}
    <article class="panel panel-default"><!-- popular post timescale selector -->
        <div class="panel-body">
            <ul class="nav nav-pills">
                <li role="presentation" class="disabled"><a>Hot Posts: </a></li>
                <li role="presentation"{% if time == 'trending' %} class="active"{% endif %}>
                    <a href="{{ url_for('index', lang=lang, time='trending') }}">Trending</a>
                </li>
                <li role="presentation"{% if time == 'today' %} class="active"{% endif %}>
                    <a href="{{ url_for('index', lang=lang, time='today') }}">Today</a>
                </li>
                <li role="presentation"{% if time == 'week' %} class="active"{% endif %}>
                    <a href="{{ url_for('index', lang=lang, time='week') }}">This Week</a>
                </li>
                <li role="presentation"{% if time == 'month' %} class="active"{% endif %}>
                    <a href="{{ url_for('index', lang=lang, time='month') }}">This Month</a>
                </li>
                <li role="presentation"{% if time == 'all' %} class="active"{% endif %}>
                    <a href="{{ url_for('index', lang=lang, time='all') }}">All Time</a>
                </li>
            </ul>
        </div>
    </article>
    {% endif %}

    {%- for post in posts.items %}
    <article class="panel panel-default">
        <div class="panel-body">
            <h3><a target="_blank" href="{{ url_for('go', id=post.id, url=post.link) }}" title="{{ post.link }}">{{ post.title }}</a></h3>
            <a href="{{ url_for('blog', id=post.blog.id) }}" title="{{ post.blog.url }}">{{ post.blog.name }}</a>

            <div class="media hidden-xs">
            {% if post.thumbnail %}
                <div class="media-left media-top">
                    <img class="media-object" alt="{{ post.id }}" src="http://kottu.org/img/?q=85&src={{ post.thumbnail }}"/></span>
                </div>
            {% endif %}
                <div class="media-body">{{ post.content }}</div>
            </div>
        </div>

        <div class="panel-footer">
            <button class="btn btn-link btn-xs btn-ts" title="{{ post.timestamp | format_time }}">{{ post.timestamp | format_time('human') }}</button>
            <button class="btn btn-primary btn-xs btn-facebook" onClick="window.open('http://www.facebook.com/share.php?u={{ post.link }}',
            'Share on Facebook', 'toolbar=no, scrollbars=yes, width=500, height=400');"
            title="This post was liked/shared {{ post.fbcount }} time(s) on Facebook">
                <span class="glyphicon glyphicon-share-alt"></span> Shares: {{ post.fbcount }}
            </button>
            <button class="btn btn-link btn-xs pull-right" title="The post popularity is {{ post.buzz | chilies }} chilies ({{ post.buzz | round(2) }})">
                <img src="http://kottu.org/img/icons/chili{{ post.buzz | chilies }}.png" alt="{{ post.buzz | chilies }} chilies"/>
            </button>
        </div>
    </article>
    {%- endfor %}

    {% if blog %}
    {{ render_pagination(posts, endpoint, blog.id, popular) }}
    {% else %}
    {{ render_pagination(posts, endpoint) }}
    {% endif %}
</div>
</div>
{% include "sidebar.html" %}
{% endblock %}