<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre:400,500&amp;subset=latin-ext,sinhala"> 
    <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="http://kottu.org/static/css/style.css">
    <link rel="icon" href="/img/icons/kottu.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/icons/kottu.ico" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed/" />
</head>

<body>

<header>
    <nav id="mainmenu" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><img alt="Kottu" title="Go to the Kottu home page" src="/img/icons/logo.png" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <p class="navbar-text hidden-sm"><strong class="visible-xs-inline">Kottu </strong>syndicates over <a title="View our blogroll" href="/blogroll">
Sri Lankan blogs</a>. You can <a title="Learn more about Kottu and how you can join" href="/about">join too</a>.</p>
                <form class="navbar-form navbar-left" method="GET" action="/search/">
                    <div class="form-group">
                        <input tabindex=1 id="searchbar" name="q" type="text" class="form-control" 
                        placeholder="Search Kottu..." value="">
                    </div>
                    <button tabindex=2 id="searchbtn" type="submit" class="btn btn-default">Search</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</header>

<div class="container">
{% block body %}{% endblock %}
</div><!-- end container -->

<footer class="container">
    <ul class="text-center">
        <li><a href="https://github.com/janithl/Kottu2012" title="Github: Kottu source code">Source Code</a></li>
        <li><a href="http://my.statcounter.com/project/standard/stats.php?project_id=610934&guest=1" title="Site stats">Stats</a></li>
        <li><a href="/feed/" title="RSS 2.0 feed for latest posts">Latest Posts <small>(RSS 2.0)</small></a></li>
        <li><a href="/feed/all/today" title="RSS 2.0 feed for popular posts">Popular Posts <small>(RSS 2.0)</small></a></li> 
        <li><a href="/about">About/Join</a></li>
        <li><a href="/blogroll">Blogroll</a></li>
    </ul>
</footer>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=610934; 
var sc_invisible=0; 
var sc_partition=4; 
var sc_security="0af09d7d"; 
</script>

<script type="text/javascript" src="http://www.statcounter.com/counter/counter.js"></script>
<!-- End of StatCounter Code -->

<script type="­tex­t/­javas­cript" src="http://www.google-analytics.com/urchin.js"></script>
<script type="­tex­t/­javas­cript">
_uacct = "UA-182033-5";
urch­in­Track­er­();
</script>

</body>
</html>